*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.main-section {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  /* margin: 0px 0px 0px -720px; */
  padding: 0px;
  background-image: url(../resources/main-background.jpg);
  background-size: 1440px 1315px;
  background-color: transparent;
  height: 60vh;
  color: white;
  text-align: center;
  display:block;
}

.main-section h1 {
  font-weight: 100;
  font-size: 4em;
  margin-top: 0;
}

.main-section p {
  font-size: 1.5em;
}

.main-section p a {
  color: white;
  text-decoration: none;
}