* {

}

.container {

}

ul {
  display:flex;
  background: black;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin-top: 200px;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 5px;
}

li {
  
  border-left: 1px solid white;
  border-right: 1px solid white;
}

li a {
  color: #fff;
  width: 100%;
  text-decoration: none;
}

.search-button-nav {

}

.search-bar {
  background-image: url(../resources/search-icon.svg);
  background-size: 15px 15px;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding-left: 20px;
}
